# -*- conf -*-
# E1: Indentation
# - E129: visually indented line with same indent as next logical line
#
# E2: Whitespace
# - E221: multiple spaces before operator
# - E241: multiple spaces after ','
# - E272: multiple spaces before keyword
#
# E4: Module imports
# - E402: module level import not at top of file
#
# E7: Statement
# - E731: do not assign a lambda expression, use a def
# - E712: comparison to true should be 'if cond is true:' or 'if cond:'
# - E722: do not use bare except, specify exception instead
# - E741: do not use variables named 'I', 'O', or 'l'
#
# W5: Line break warning
# - W503: line break before binary operator
# - W504: line break after binary operator
#
# These are required to get the package.py files to test clean:
# - F401: module imported but unused
# - F999: syntax error in doctest
#
# N8: PEP8-naming
# - N801: class names should use CapWords convention
# - N813: camelcase imported as lowercase
# - N814: camelcase imported as constant
#
# F5: Arguments
# - F523: unused arguments in a function
#
# F6: Logical comparison operators
# - F632: use ==/!= to compare constant literals
#
# F8: Variable names
# - F821: undefined name name
# - F841: local vaiable name is assigned to but never used

[flake8]
ignore = E129,E221,E241,E272,E731,W503,W504,F999,N801,N813,N814,E712,E722,F401,F841,E741,F523,F821,F632,E402
exclude = envs/env_vault/CahnHilliard2D, envs/env_vault/ImageStructure, envs/env_vault/pydemic, envs/env_vault/LibTDLG, docs
max-line-length = 160
