[submodule "envs/env_vault/CahnHilliard2D"]
	path = envs/env_vault/CahnHilliard2D
	# url = git@github.com:exalearn/cahnhilliard_2d.git
	url = https://github.com/exalearn/cahnhilliard_2d.git
	branch = docker-devel
[submodule "envs/env_vault/ImageStructure"]
	path = envs/env_vault/ImageStructure
	# url = git@github.com:exalearn/image_structure.git
	url = https://github.com/exalearn/image_structure.git
